body {
  background-color: black;
  color:white;
  font-family: Tahoma, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.App {
  display: flex;
}

.GameMenu {
  display: grid;
  margin: 15px;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.Side-bar {
  display: flex;
  flex-direction: column;
  padding: 15px 10px 0;
  border: 2px solid #d2d2d2;
  border-radius: 10px;
  box-shadow: 0 1px 1px #d2d2d2;
  width: 220px;
}

.right {
  display: flex; 
  gap: 15px;
}

.left {
  display: flex;
  flex-direction: column;
}

.MuiFormControl-root {
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}
